[[source]]
url = "https://pypi.org"
verify_ssl = true
name = "pypi"

[packages]
chess = ">=1.10.0"
berserk = ">=0.11.0"
requests = "*"
python-dotenv = "*"
python-chess = "*"
pyyaml = "*"
httpx = ">=0.27.0"
flask = "==3.0.3"
gunicorn = "*"
gevent = "*"
sphinx-rtd-theme = "*"
myst-parser = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
ruff = "*"

[requires]
python_version = "3.10"
